*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.section {
    position: relative;
    top: 0;right: 0;left: 0;bottom: 0;
    margin: auto;
    max-width: 1460px;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.gutterTop {
    margin-top: 24px;
}
.gutterBottom {
    margin-bottom: 24px;
}

.pressable {
    position: relative;
    cursor: pointer;
}

.btn.pressable {
    transition: .8s;
}

.btn.pressable:hover {
    box-shadow: 0 0 32px red;
    text-shadow: 0 0 32px red;
}


.h1 {
    font-size: 64px;
    font-family: "Cinzel Decorative", sans-serif;
}

.h6 {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.h6.pressable:hover {
    text-shadow: 0 0 32px red;
}

.red-text {
    color: #ff0000;
}

.center {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    padding: 10px 16px;
    border: 2px solid #ff0000;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.header {
    height: 150px;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.loader-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: +1;
    overflow: hidden;
}

.loader-info {
    position: absolute;
    height: 96%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.loader-info .h1 {
    color: #000;
}

.load-percent {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 22.5%;
    text-align: center;
}

.loader {
    position: absolute;
    height: 6px;
    width: 100%;
    margin: auto;
    top: 0;left: 0;right: 0;
    background: #fff;
}

.loader-progress {
    position: absolute;
    height: 6px;
    width: 0%;
    margin: auto;
    top: 0;bottom: 0;left: 0;
    background: #000;
}

.loaderTopHalf {
    position: absolute;
    height: 50%;
    width: 100%;
    margin: auto;
    top: 0;left: 0;
    background: red;
}

.loaderBottomHalf {
    position: absolute;
    height: 50%;
    width: 100%;
    margin: auto;
    bottom: 0;left: 0;
    background: red;
}


.hero-section .h6, 
.hero-section .h1,
.hero-section .gutterTop,
.discover-section .h6, 
.discover-section .h1,
.discover-section .gutterTop {
    transform: translateY(50px) rotate(5deg);
    opacity: 0;
}

.discover-section .h6, 
.discover-section .h1,
.discover-section .gutterTop {
    padding-left: 50px;
}

.discover-section div.h6 {
    max-width: 48pc;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
}